.cart {

    .title {
        margin-bottom: 1.5rem;
    }
    .cartDetails {
        padding: 0 1.5rem;
        border-bottom: 1px solid rgba(34,36,38,.5);
        margin-bottom: 1rem;

        .cartDetails_item {
            display: flex;
            padding: 2rem 0;
            border-bottom: 1px solid rgba(34,36,38,.3);

            &:last-child {
                border-bottom: none;
            }
            .cartDetails_item_producerInfo {
                width: 250px;
                border-right: 1px solid rgba(34,36,38,.3);

                > p {
                    margin-top: .5rem;
                }
            }
            .cartDetails_item_productsDetails {
                .cartDetails_item_productsDetails_row {
                    .cartDetails_item_productsDetails_cell {
                        width: 75px;
                        text-align: left;
                        padding-bottom: .5rem;

                        &.product {
                            width: 150px;
                        }
                        &.quantity {
                            width: 100px;
                        }
                        &.tbody {
                            font-weight: unset;
                        }
                        .cartDetails_item_productsDetails_cell_removeButton {
                            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                            border: none;
                            background-color: #ff3547;
                            border-radius: .25rem;
                            color: white;
                            padding: .25rem .5rem;
                        }
                    }
                }
            }
            .cartDetails_item_producerInfo, .cartDetails_item_productsDetails {
                padding: 0 1rem;
            }
        }
        .cartTotalPrice_title {
            font-size: 1.5rem;
            text-align: right;
            margin-bottom: 2rem;

            > span {
                font-family: 'Lobster', cursive;
            }
        }
    }
}