@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Améliorations */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
del,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

input,
button {
  outline: 0;
}

@font-face {
  font-family: "Galada";
  src: url("../assets/fonts/Galada-Regular.ttf");
}
@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster-Regular.ttf");
}
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body #root {
  min-height: 100vh;
  display: flex;
  overflow: auto;
  justify-content: center;
  background-image: url("../assets/images/wallpaper-field.webp");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  min-height: calc(100% - 300px);
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.25rem;
  padding: 2rem;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
}

.form_title {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  flex-basis: 50%;
}
.inputContainer > label {
  height: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}
.inputContainer > label:not(.notRequired)::after {
  content: "*";
  color: #db2828;
  margin-left: 0.1rem;
}
.inputContainer > input, .inputContainer textarea, .inputContainer select {
  outline: 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 0 0 transparent inset;
  border-radius: 0.25rem;
  padding: 0.65rem;
}
.inputContainer > input::placeholder, .inputContainer textarea::placeholder, .inputContainer select::placeholder {
  color: #bfbfbf;
}
.inputContainer > input:focus, .inputContainer textarea:focus, .inputContainer select:focus {
  border-color: #85b7d9;
}
.inputContainer > input[type=file], .inputContainer textarea[type=file], .inputContainer select[type=file] {
  background-color: white;
  height: 38.8px;
  padding: 0.5rem;
}
.inputContainer > input[type=file]:disabled, .inputContainer textarea[type=file]:disabled, .inputContainer select[type=file]:disabled {
  border: none;
  background-color: transparent;
}
.inputContainer > input:not([type=file]):disabled, .inputContainer textarea:not([type=file]):disabled, .inputContainer select:not([type=file]):disabled {
  border: none;
  background-color: transparent;
  color: black;
}
.inputContainer > textarea {
  font-family: inherit;
  font-size: 0.8rem;
}
.inputContainer .inputContainer_checkboxSection {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 0 0 0 transparent inset;
  border-radius: 0.25rem;
  padding: 0.65rem;
  background-color: #ffffff;
}
.inputContainer .inputContainer_checkboxSection > div {
  flex-basis: 50%;
}
.inputContainer .inputContainer_checkboxSection > div > label {
  font-size: 0.8rem;
}
.inputContainer .inputContainer_passwordMessage {
  position: absolute;
  z-index: 99;
  top: 65px;
  background-color: #f8ffff;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
  color: #276f86;
  width: calc(100% - 1rem);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.inputContainer .inputContainer_passwordMessage .inputContainer_passwordMessage_icon {
  margin-right: 0.25rem;
}
.inputContainer .inputContainer_errorMessage {
  background-color: #fb3;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0.15rem;
}

.formButton {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  font-size: 0.8rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.125rem;
}
.formButton:hover {
  outline: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.formButton.saveButton {
  background-color: #00c851;
}
.formButton.editButton {
  background-color: #fb3;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 1.25rem;
}

.spinnerLoader {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
