@import 'reset';

@font-face {
    font-family: 'Galada';
    src: url('../assets/fonts/Galada-Regular.ttf');
}
@font-face {
    font-family: 'Lobster';
    src: url('../assets/fonts/Lobster-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #root {
        min-height: 100vh;
        display: flex;
        overflow: auto;
        justify-content: center;
        background-image: url('../assets/images/wallpaper-field.webp');
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    min-height: calc(100% - 300px);
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
    border-radius: .25rem;
    padding: 2rem;
    min-height: 100%;
    width: 100%;
    max-width: 1200px;
}

.form_title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    flex-basis: 50%;

    > label {
        height: 20px;
        font-size: .8rem;
        font-weight: 600;

        &:not(.notRequired)::after {
            content: "*";
            color: #db2828;
            margin-left: .1rem;
        }
    }
    > input, textarea, select {
        outline: 0;
        border: 1px solid rgba(34,36,38,.15);
        box-shadow: 0 0 0 0 transparent inset;
        border-radius: .25rem;
        padding: .65rem;

        &::placeholder {
            color: rgb(191,191,191);
        }
        &:focus {
            border-color: #85b7d9;
        }
        &[type='file'] {
            background-color: white;
            height: 38.8px;
            padding: .5rem;

            &:disabled {
                border: none;
                background-color: transparent;
            }
        }
        &:not([type='file']) {
            &:disabled {
                border: none;
                background-color: transparent;
                color: black;
            }
        }
    }
    > textarea {
        font-family: inherit;
        font-size: .8rem;
    }
    .inputContainer_checkboxSection {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(34,36,38,.15);
        box-shadow: 0 0 0 0 transparent inset;
        border-radius: .25rem;
        padding: .65rem;
        background-color: #ffffff;

        > div {
            flex-basis: 50%;

            > label {
                font-size: .8rem;
            }
        }
    }
    .inputContainer_passwordMessage {
        position: absolute;
        z-index: 99;
        top: 65px;
        background-color: #f8ffff;
        box-shadow: 0 0 0 1px #a9d5de inset,0 0 0 0 transparent;
        color: #276f86;
        width: calc(100% - 1rem);
        padding: 1rem 1.5rem;
        border-radius: .25rem;
        font-size: .8rem;
        line-height: 1.3rem;

        .inputContainer_passwordMessage_icon {
            margin-right: .25rem;
        }
    }
    .inputContainer_errorMessage {
        background-color: #fb3;
        padding: 1rem 1.5rem;
        border-radius: .25rem;
        font-size: .8rem;
        margin-top: .15rem;
    }
}

.formButton {
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    color: white;
    font-size: .8rem;
    padding: .6rem 1.5rem;
    border-radius: .125rem;

    &:hover {
        outline: none;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    }
    &.saveButton {
        background-color: #00c851;
    }
    &.editButton {
        background-color: #fb3;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 1.25rem;
}
.spinnerLoader {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 5px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
