.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;

    .footer_content {
        margin: 0 auto;
        color: white;

        .footer_content_list {
            display: flex;

            > li {
                padding: 0 .5rem;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .footer {
        height: 200px;

        .footer_content_list {
            flex-direction: column;

            & :nth-child(2n) {
                display: none;
            }
            > li:not(:last-child) {
                margin-bottom: .75rem;
            }
        }
    }
};
