.footer {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;

    .footer_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
    }
}
