.producersList {
    background-color: rgba(255, 255, 255, 0.6);
    padding: .5rem;
    border-radius: .25rem;

    .producersList_container {
        height: 100%;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
        .producersList_item {
            display: flex;
            border-radius: .25rem;
            box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
            background-color: white;
            padding: .5rem;
            transition: all .1s ease;
            margin-bottom: .75rem;

            &:hover {
                transform: translateY(-3px);
                cursor: pointer;
            }
            .producersList_item_imgContainer {
                height: 100px;
                overflow: hidden;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .25rem;
            }
            .producersList_item_content {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: calc(100% - 150px);
                padding-left: .5rem;

                .producersList_item_content_name {
                    font-family: 'Lobster', cursive;
                }
                .producersList_item_content_job > p {
                    font-size: .8rem;

                    .producersList_item_content_job_spanValue {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .producersList {
        height: 450px;
        margin-top: -50px;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.8);

        .producersList_item {
            align-items: center;

            .producersList_item_content_name {
                margin-bottom: .5rem;
            }
            .producersList_item_content_job > p {
                margin-bottom: .5rem;

                > span {
                    display: block;
                    margin-bottom: .25rem;
                }
            }
        }
    }
};
@media screen and (min-width: 576px) and (max-width: 767px) {
    .producersList {
        height: 500px;
        margin-top: -50px;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.8);

        .producersList_item_content {
            align-items: center;

            .producersList_item_content_job > p {
                margin-bottom: .25rem;

                .producersList_item_content_job_spanKey {
                    display: inline-block;
                    width: 92px;
                    text-align: right;
                }
            }
        }
    }
};
@media screen and (min-width: 768px) and (max-width: 991px) {
    .producersList {
        height: 500px;
        margin-top: 1rem;
        background-color: rgba(255, 255, 255, 0.8);

        .producersList_item_content {
            align-items: center;

            .producersList_item_content_job > p {
                margin-bottom: .25rem;

                .producersList_item_content_job_spanKey {
                    display: inline-block;
                    width: 92px;
                    text-align: right;
                }
            }
        }
    }
};
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .producersList {
        height: 600px;
        width: 450px;
        background-color: rgba(255, 255, 255, 0.6);

        .producersList_item_content {
            align-items: center;

            .producersList_item_content_job > p {
                margin-bottom: .25rem;

                .producersList_item_content_job_spanKey {
                    display: inline-block;
                    width: 92px;
                    text-align: right;
                }
            }
        }
    }
};
@media screen and (min-width: 1200px) {
    .producersList {
        height: 600px;
        width: 450px;
        background-color: rgba(255, 255, 255, 0.6);

        .producersList_item_content {
            align-items: center;

            .producersList_item_content_job > p {
                margin-bottom: .25rem;

                .producersList_item_content_job_spanKey {
                    display: inline-block;
                    width: 92px;
                    text-align: right;
                }
            }
        }
    }
};
