.producerShowCase {

    .producerShowCase_info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .producerShowCase_info_picture {
            display: flex;
            justify-content: center;
            max-height: 600px;

            > img {
                max-width: 100%;
                max-height: 100%;
                border-radius: .25rem;
                box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
            }
        }
        .producerShowCase_info_data {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .producerShowCase_info_data_item {
                &.description {
                    width: 100%;
                }
                > span {
                    display: block;
                    margin-bottom: .5rem;
                    font-family: 'Lobster', cursive;
                }
                > p {
                    word-break: normal;
                    overflow-wrap: anywhere;
                }
            }
        }
    }
    .producerShowCase_products {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgba(34,36,38,.15);
        width: 100%;


        .producerShowCase_products_item {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
            border-radius: .25rem;
            width: 250px;
            padding: 1rem 1rem 1rem 1rem;
            margin-bottom: 1.5rem;

            .producerShowCase_products_item_picture {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                margin-bottom: .5rem;

                > img {
                    max-width: 100%;
                }
            }
            .producerShowCase_products_item_info {
                padding-top: 1rem;
                border-top: 1px solid rgba(34, 36, 38, 0.15);

                .producerShowCase_products_item_info_name {
                    font-family: 'Lobster', cursive;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
                .producerShowCase_products_item_info_price {
                    font-family: 'Lobster', cursive;
                    font-size: 1.125rem;
                    text-align: right;
                    margin-bottom: 1.5rem;
                }
                .producerShowCase_products_item_info_details {
                    margin-bottom: 1.5rem;

                    > p {
                        font-size: .95rem;
                        margin-bottom: .5rem;
                        font-family: "Lobster", cursive;
                    }
                    > ul {
                        padding-left: 1rem;
                        font-size: .9rem;

                        > li {
                            margin-bottom: .25rem;
                        }
                    }
                }
                .producerShowCase_products_item_info_description {
                    margin-bottom: 1rem;

                    > p:first-child {
                        font-size: .95rem;
                        margin-bottom: .5rem;
                        font-family: "Lobster", cursive;
                    }
                    > p:not(:first-of-type) {
                        font-size: .9rem;
                    }
                }
            }
            .producerShowCase_products_item_addToCart {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .producerShowCase_products_item_addToCart_quantity {
                    display: flex;
                    width: 100%;
                    margin-bottom: .5rem;
                    border-top: 1px solid rgba(34, 36, 38, 0.15);
                    padding-top: 1rem;

                    > input, > select {
                        border: 1px solid rgba(34,36,38,.15);
                        height: 38px;
                        padding: .5rem 1rem;
                    }
                    > input {
                        width: calc(100% - 70px);
                        border-radius: .25rem 0 0 .25rem;
                        padding: .5rem .5rem .5rem 1rem;
                    }
                    > select {
                        width: 70px;
                        border-left: none;
                        border-radius: 0 .25rem .25rem 0;
                        padding: .5rem 1rem;
                    }
                }
                .producerShowCase_products_item_addToCart_button {
                    width: 100%;
                    height: 40px;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                    border: none;
                    background-color: #00c851;
                    color: white;
                    font-size: .8rem;
                    border-radius: .25rem;

                    .show {
                        display: inline;
                        animation: opacityFade 0.75s ease;

                        .button_icon {
                            margin-right: .25rem;
                        }
                    }
                    .hide {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .producerShowCase_info {
        flex-direction: column;

        .producerShowCase_info_picture {
            margin-bottom: 2rem;
        }
        .producerShowCase_info_data .producerShowCase_info_data_item {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
    .producerShowCase_products {
        justify-content: center;
        margin-top: 1rem;
        padding-top: 2.5rem;
    }
};
@media screen and (min-width: 576px) and (max-width: 767px) {
    .producerShowCase_info {
        flex-direction: column;

        .producerShowCase_info_picture {
            margin-bottom: 2rem;
        }
        .producerShowCase_info_data .producerShowCase_info_data_item {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
    .producerShowCase_products {
        justify-content: center;
        margin-top: 1rem;
        padding-top: 2.5rem;

        .producerShowCase_products_item {
            margin-right: 1.5rem;
        }
    }
};
@media screen and (min-width: 768px) and (max-width: 991px) {
    .producerShowCase_info {
        flex-direction: column;

        .producerShowCase_info_picture {
            margin-bottom: 2rem;
        }
        .producerShowCase_info_data .producerShowCase_info_data_item {
            width: 50%;
            margin-bottom: 1.5rem;

            > p {
                padding-right: .5rem;
            }
        }
    }
    .producerShowCase_products {
        margin-top: 1rem;
        padding-top: 2.5rem;

        .producerShowCase_products_item {
            margin-right: 1.5rem;
        }
    }
};
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .producerShowCase_info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .producerShowCase_info_picture {
            max-width: calc(600px - 2rem);
            //min-height: 400px;
        }
        .producerShowCase_info_data {
            width: calc(600px - 2rem);
            padding-left: 2rem;

            .producerShowCase_info_data_item {
                width: 50%;
                min-height: 60px;

                > p {
                    padding-right: .5rem;
                }
            }
        }
    }
    .producerShowCase_products {
        margin-top: 3rem;
        padding-top: 2rem;

        .producerShowCase_products_item {
            margin-right: 2rem;
        }
    }
};
@media screen and (min-width: 1200px) {
    .producerShowCase_info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .producerShowCase_info_picture {
            max-width: calc(600px - 2rem);
            //min-height: 400px;
        }
        .producerShowCase_info_data {
            width: calc(600px - 2rem);
            padding-left: 2rem;

            .producerShowCase_info_data_item {
                width: 50%;
                min-height: 60px;

                > p {
                    padding-right: .5rem;
                }
            }
        }
    }
    .producerShowCase_products {
        margin-top: 3rem;
        padding-top: 2rem;

        .producerShowCase_products_item {
            margin-right: 2rem;
        }
    }
};

@keyframes opacityFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
