.producerShowCase .producerShowCase_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.producerShowCase .producerShowCase_info .producerShowCase_info_picture {
  display: flex;
  justify-content: center;
  max-height: 600px;
}
.producerShowCase .producerShowCase_info .producerShowCase_info_picture > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.producerShowCase .producerShowCase_info .producerShowCase_info_data {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.producerShowCase .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item.description {
  width: 100%;
}
.producerShowCase .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item > span {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Lobster", cursive;
}
.producerShowCase .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item > p {
  word-break: normal;
  overflow-wrap: anywhere;
}
.producerShowCase .producerShowCase_products {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  width: 250px;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1.5rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 0.5rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_picture > img {
  max-width: 100%;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info {
  padding-top: 1rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_name {
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_price {
  font-family: "Lobster", cursive;
  font-size: 1.125rem;
  text-align: right;
  margin-bottom: 1.5rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_details {
  margin-bottom: 1.5rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_details > p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  font-family: "Lobster", cursive;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_details > ul {
  padding-left: 1rem;
  font-size: 0.9rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_details > ul > li {
  margin-bottom: 0.25rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_description {
  margin-bottom: 1rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_description > p:first-child {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  font-family: "Lobster", cursive;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_info .producerShowCase_products_item_info_description > p:not(:first-of-type) {
  font-size: 0.9rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_quantity {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 1rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_quantity > input, .producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_quantity > select {
  border: 1px solid rgba(34, 36, 38, 0.15);
  height: 38px;
  padding: 0.5rem 1rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_quantity > input {
  width: calc(100% - 70px);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_quantity > select {
  width: 70px;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.5rem 1rem;
}
.producerShowCase .producerShowCase_products .producerShowCase_products_item .producerShowCase_products_item_addToCart .producerShowCase_products_item_addToCart_button {
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-color: #00c851;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

@media screen and (max-width: 575px) {
  .producerShowCase_info {
    flex-direction: column;
  }
  .producerShowCase_info .producerShowCase_info_picture {
    margin-bottom: 2rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .producerShowCase_products {
    justify-content: center;
    margin-top: 1rem;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .producerShowCase_info {
    flex-direction: column;
  }
  .producerShowCase_info .producerShowCase_info_picture {
    margin-bottom: 2rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .producerShowCase_products {
    justify-content: center;
    margin-top: 1rem;
    padding-top: 2.5rem;
  }
  .producerShowCase_products .producerShowCase_products_item {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .producerShowCase_info {
    flex-direction: column;
  }
  .producerShowCase_info .producerShowCase_info_picture {
    margin-bottom: 2rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item > p {
    padding-right: 0.5rem;
  }

  .producerShowCase_products {
    margin-top: 1rem;
    padding-top: 2.5rem;
  }
  .producerShowCase_products .producerShowCase_products_item {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .producerShowCase_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .producerShowCase_info .producerShowCase_info_picture {
    max-width: calc(600px - 2rem);
  }
  .producerShowCase_info .producerShowCase_info_data {
    width: calc(600px - 2rem);
    padding-left: 2rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item {
    width: 50%;
    min-height: 60px;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item > p {
    padding-right: 0.5rem;
  }

  .producerShowCase_products {
    margin-top: 3rem;
    padding-top: 2rem;
  }
  .producerShowCase_products .producerShowCase_products_item {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .producerShowCase_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .producerShowCase_info .producerShowCase_info_picture {
    max-width: calc(600px - 2rem);
  }
  .producerShowCase_info .producerShowCase_info_data {
    width: calc(600px - 2rem);
    padding-left: 2rem;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item {
    width: 50%;
    min-height: 60px;
  }
  .producerShowCase_info .producerShowCase_info_data .producerShowCase_info_data_item > p {
    padding-right: 0.5rem;
  }

  .producerShowCase_products {
    margin-top: 3rem;
    padding-top: 2rem;
  }
  .producerShowCase_products .producerShowCase_products_item {
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
